{% extends 'base.html' %}
{% load static %}
{% load currency %}
{% block title %}GarageTool | OfferSummary {% endblock %}
{% block content %}

<div class="offer-container">
    <h2>Offer for {{ calculator.vehicle }}</h2>

    <h3>Parts</h3>
    <ul>
        {% for part in calculator.parts.all %}
            <li>{{ part.title }} - {{ part.price | currency }}</li>
        {% empty %}
            <li class="offer-empty">No added parts</li>
        {% endfor %}
    </ul>

    <h3>Services</h3>
    <ul>
        {% for service in calculator.services.all %}
            <li>{{ service.title }} - {{ service.price | currency}}</li>
        {% empty %}
            <li class="offer-empty">No added services</li>
        {% endfor %}
    </ul>

    <div class="offer-total">
        Total: {{ calculator.total_price | currency }}
    </div>
    <div>
        <a href="{% url 'common:home' %}" class="offer-button">Home</a>
    </div>
</div>

{% endblock %}