{% extends 'base.html' %}
{% block title %}GarageTool | Delete Profile{% endblock %}
{% block content %}
<div class="delete-profile">
    <p class="text-h titillium-font">
         Are you sure you want to delete this profile?
    </p>

    <form method="post">
        {% csrf_token %}
        <div class="delete-buttons">
            <button class="edit-button" type="submit">Delete</button>
            <a class="edit-button" href="{% url 'accounts:details' request.user.pk %}">Cancel</a>
        </div>
    </form>
</div>
{% endblock %}