.buttons-container {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-top: 50px;
}

.btn-card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 300px;
    padding: 40px;
    border: 2px solid red;
    border-radius: 25px;
    text-decoration: none;
    color: white;
    background-color: #111;
    transition: transform 0.3s, box-shadow 0.3s, border-color 0.3s;
    box-shadow: 0 0 15px rgba(255, 0, 0, 0.5);
    text-align: center;
}

.btn-card img {
    width: 160px;
    height: auto;
    margin-bottom: 20px;
}
.btn-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 20px rgba(255, 0, 0, 0.9);
    border-color: #ff0000;
}

.btn-card span {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.7rem;
    padding: 0.5rem 1rem;
    font-weight: 500;
    text-transform: uppercase;
    font-family: "Titillium Web", sans-serif;
    text-align: center;
}

.titillium-web-extralight {
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.information p {
    font-size: 1.5rem;
    padding: 8rem 8rem;
    font-weight: 500;
    font-family: "Titillium Web", sans-serif;
    text-align: center;
}