.vehicle {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    margin-top: 50px;
}

.vehicle-card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 180px;
    padding: 15px;
    border: 2px solid red;
    border-radius: 15px;
    text-decoration: none;
    color: white;
    background-color: #111;
    transition: transform 0.3s, box-shadow 0.3s, border-color 0.3s;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
    text-align: center;
}

.vehicle-card img {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
    border-radius: 8px;
}

.vehicle-card span {
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.vehicle-card p {
    font-size: 1rem;
    margin: 3px 0;
    text-align: center;
}

@media (max-width: 768px) {
    .vehicle-card {
        width: 80%;
        height: auto;
        padding: 15px;
    }
}

.my-garage-header {
    font-size: 1.8rem
}