.neon-text {
    color: #ff0000;
    text-shadow:
        0 0 5px #ff1414,
        0 0 10px #ff1414,
        0 0 40px #ff1414;
    transition: all 0.3s ease;
}

.neon-text:hover {
    text-shadow:
        0 0 10px #39ff14,
        0 0 20px #39ff14,
        0 0 50px #39ff14;
}

.navbar-nav .nav-link {
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    font-weight: 500;
    text-transform: uppercase;
    font-family: "Titillium Web", sans-serif;
}

.titillium-web-extralight {
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  font-style: normal;
}