.offer-button {
    display: block;
    width: 100%;
    margin-top: 30px;
    padding: 14px;
    border-radius: 12px;
    border: 2px solid red;
    background: transparent;
    color: white;
    font-size: 28px;
    cursor: pointer;
    transition: 0.3s ease;
    text-align: center;
    text-decoration: none;
    font-family: "Titillium Web", sans-serif;
}

.offer-button:hover {
    background: rgba(255, 0, 0, 0.2);
    box-shadow: 0 0 15px rgba(255, 0, 0, 0.5);
    transform: translateY(-2px);
}