<footer class="navbar navbar-dark bg-dark mt-auto">
  <div class="container d-flex flex-column align-items-center py-3">

    <span class="navbar-text text-light mb-2">
      Made by - Hayat Moharemov – Thanks for checking out my first project! Let's connect!
    </span>

    <div>
      <a href="https://github.com/HayatMoharemov/" class="btn btn-light rounded-pill me-2" target="_blank">
        GitHub
      </a>
      <a href="https://linkedin.com/in/hayat-moharemov" class="btn btn-light rounded-pill me-2" target="_blank">
        LinkedIn
      </a>
    </div>
  </div>
</footer>