{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  <div class="container-fluid">
    <ul class="navbar-nav d-flex flex-row mx-auto">
      <li class="nav-item me-4">
        <a class="nav-link neon-text" aria-current="page" href="#">My Garage</a>
      </li>
      <li class="nav-item me-4">
        <a class="nav-link neon-text" aria-current="page" href="#">Parts Catalogue</a>
      </li>
      <li class="nav-item">
        <a class="nav-link neon-text" aria-current="page" href="#">Expenses Calculator</a>
      </li>
    </ul>

  </div>
</nav>