{% load static %}
{% if request.user.is_authenticated %}
    {% if request.user.is_business %}
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
          <div class="container-fluid">
            <ul class="navbar-nav d-flex flex-row mx-auto">
                <li class="nav-item me-4">
                    <a class="nav-link neon-text" aria-current="page" href="{% url 'common:home' %}">Home</a>
                </li>
                <li class="nav-item me-4">
                    <a class="nav-link neon-text" aria-current="page" href="{% url 'accounts:details' request.user.pk %}">My Account</a>
                </li>
                <li class="nav-item me-4">
                    <a class="nav-link neon-text" aria-current="page" href="{% url 'contact:inquiries' %}">Inquiries</a>
                </li>
                <li class="nav-item me-4">
                    <a class="nav-link neon-text" aria-current="page" href="{% url 'garage:view_garage' %}">My Garage</a>
                </li>
                <li class="nav-item me-4">
                    <a class="nav-link neon-text" aria-current="page" href="{% url 'catalogue:catalogue_initial_page' %}">Catalogue</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link neon-text" aria-current="page" href="{% url 'calculator:create_offer' %}">Expenses Calculator</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link neon-text" aria-current="page" href="{% url 'employees:employees_list' %}">Employees</a>
                </li>
                <li class="nav-item me-4 d-flex align-items-center">
                    <form method="post" action="{% url 'accounts:logout' %}" class="m-0 p-0">
                        {% csrf_token %}
                        <button type="submit" class="nav-link neon-text logout-btn-inline">Logout</button>
                    </form>
                </li>
            </ul>
          </div>
        </nav>
    {% elif request.user.is_individual %}
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
          <div class="container-fluid">
            <ul class="navbar-nav d-flex flex-row mx-auto">
                <li class="nav-item me-4">
                    <a class="nav-link neon-text" aria-current="page" href="{% url 'common:home' %}">Home</a>
                </li>
                <li class="nav-item me-4">
                    <a class="nav-link neon-text" aria-current="page" href="{% url 'accounts:details' request.user.pk %}">My Account</a>
                </li>
                <li class="nav-item me-4">
                    <a class="nav-link neon-text" aria-current="page" href="{% url 'garage:view_garage' %}">My Garage</a>
                </li>
                <li class="nav-item me-4">
                    <a class="nav-link neon-text" aria-current="page" href="{% url 'accounts:companies_list' %}">Mechanic Shops</a>
                </li>
                <li class="nav-item me-4 d-flex align-items-center">
                    <form method="post" action="{% url 'accounts:logout' %}" class="m-0 p-0">
                        {% csrf_token %}
                        <button type="submit" class="nav-link neon-text logout-btn-inline">Logout</button>
                    </form>
                </li>
            </ul>
          </div>
        </nav>
    {% endif %}
{% else %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
        <div class="container-fluid">
            <ul class="navbar-nav d-flex flex-row mx-auto">
                <li class="nav-item me-4">
                    <a class="nav-link neon-text" aria-current="page" href="{% url 'common:home' %}">Home</a>
                </li>
                <li class="nav-item me-4">
                    <a class="nav-link neon-text" aria-current="page" href="{% url 'accounts:login' %}">Login</a>
                </li>
                <li class="nav-item me-4">
                    <a class="nav-link neon-text" aria-current="page" href="{% url 'accounts:register' %}">Register</a>
                </li>
            </ul>
        </div>
    </nav>
{% endif %}