{% extends 'base.html' %}
{% block title %} GarageTool | Parts Catalogue{% endblock %}
{% load currency %}
{% load static %}
{% load pagination %}
{% block content %}
    <h1 class="text-h titillium-font">Catalogue</h1>
    {% if parts %}
        <form class="search-form" method="get">
            <input class="input" type="search" name="q" placeholder="Search by part name or manufacturer" value="{{ request.GET.q }}">
            <button class="search-button" type="submit">Search</button>
            <a class="search-button" href="{% url 'catalogue:catalogue_initial_page' %}">Back</a>
        </form>
    {% endif %}
    <div class="vehicle titillium-font">
    {% for p in parts %}
        <a href="{% url 'catalogue:parts_details' p.slug %}" class="vehicle-card">
            <span>{{ p.title }} {{ p.manufacturer }} {{ p.price | currency }}</span>
        </a>
    {% empty %}
        <div class="vehicle-empty-list titillium-font">
            <p>No such parts or services.</p>
            <a class="go-back-button" href="{% url 'catalogue:parts_list' %}">Back</a>
            <a class="go-back-button" href="{% url 'catalogue:add_service' %}">Add service</a>
        </div>
    {% endfor %}
</div>
{% include 'common/paginator.html' %}
{% endblock %}

