{% extends 'base.html' %}
{% block title %}GarageTool | Delete Service{% endblock %}
{% block content %}
    <p class="text-h titillium-font">Are you sure you want to delete {{ object.title }} service ?</p>
    <form method="post">
        {% csrf_token %}
        <div class="delete-buttons">
            <button class="edit-button" type="submit">Delete</button>
            <a class="edit-button" href="{% url 'catalogue:services_details' object.slug %}">Cancel</a>
        </div>
    </form>
{% endblock %}