{% extends 'base.html' %}
{% block title %}GarageTool | Update Service{% endblock %}
{% load static %}
{% block content %}
    <div class="form-style">
        <h1>Update service</h1>
        <form method="post">
            {% csrf_token %}
            <div class="form-field">
            <label for="{{ form.title.id_for_label }}">Title:</label>
            {{ form.title }}
            </div>
            <div class="form-field">
                <label for="{{ form.price.id_for_label }}">Price:</label>
                {{ form.price }}
            </div>
            <div class="form-field">
                <label for="{{ form.description.id_for_label }}">Description:</label>
                {{ form.description }}
            </div>
            <button class="add-button" type="submit">Save changes</button>
            <a href="{% url 'catalogue:services_list' %}" class="cancel-button">Cancel</a>
        </form>
    </div>
{% endblock %}